.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 10px;
  position: relative;
  background-color: rgb(226, 229, 218);
  border-top: 1px solid black;
}

.experience-company-zone {
  margin-top: 40px;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-content: center;
  padding: 40px;
}

.experience-company-box {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
  border-radius: 10px;
  z-index: 1;
}

.experience-company-box-image {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
}
